
.answer-container{
    width: 100%;
    word-wrap: break-word;
    min-height: 120px;
    background-color: rgba(140, 181, 99, 0.122);
    border-top: 1px solid grey;
    display: flex;
    margin:20px;
    box-shadow: 0 5px 5px rgba(0, 85, 255, 0.313);
}

.answer-container:hover{
    transform: scale(1.02);
    background-color: rgba(48, 191, 82, 0.197);
}

.countables
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:920px) {
    .answer-container{
        font-size: 12px;
    }
}

@media screen and (max-width:300px) {
    .answer-container{
        font-size: 10px;
    }
}
