.question-title-form, .question-tags-form {
    height: 100px;
    width: 80%;
    background-color: #fff;
    margin-bottom: 10px;
}

.question-description-form {
    height: 300px;
    width: 80%;
    background-color: #fff;
}


.react-quill-custom{
    height: 200px;
}


@media (max-width: 767px) {

    .question-description-form {
        height: 400px;
        width: 100%;
    }
    .question-title-form, .question-tags-form {
        width: 100%;
    }
    
}