.question-title-form, .question-tags-form {
    height: 100px;
    width: 80%;
    background-color: #fff;
    margin-bottom: 10px;
}

.question-description-form {
    height: 300px;
    width: 80%;
    background-color: #fff;
}

